:root {
    --black: rgba(0, 0, 0, 1);
    --blackA5: rgba(0, 0, 0, 0.05);
    --blackA10: rgba(0, 0, 0, 0.1);
    --blackA25: rgba(0, 0, 0, 0.25);
    --blackA50: rgba(0, 0, 0, 0.5);
    --blackA75: rgba(0, 0, 0, 0.75);
    --white: rgba(255, 255, 255, 1);
    --whiteA5: rgba(255, 255, 255, 0.05);
    --whiteA10: rgba(255, 255, 255, 0.1);
    --whiteA25: rgba(255, 255, 255, 0.25);
    --whiteA50: rgba(255, 255, 255, 0.5);
    --whiteA75: rgba(255, 255, 255, 0.75);
    --gray-25: #f6f6f6;
    --gray-50: #ebebeb;
    --gray-100: #d9d9d9;
    --gray-200: #ababab;
    --gray-300: #757575;
    --gray-350: #696969;
    --gray-400: #5e5e5e;
    --gray-500: #4d4d4d;
    --gray-600: #ff0000 !important;
    --gray-700: #363636;
    --gray-800: #2b2b2b;
    --gray-900: #212121;
    --blue-100: #8AC2FF;
    --blue-200: #2496FF;
    --blue-300: #0084FF;
    --blue-350: #1280EE;
    --blue-400: #0073E6;
    --blue-500: #0066FF;
    --blue-600: #005CE5;
    --blue-A10: rgba(0, 115, 230, 0.1);
    --blue-A20: rgba(0, 115, 230, 0.2);
    --blue-A30: rgba(0, 115, 230, 0.3);
    --green-100: #63D489;
    --green-200: #2FC862;
    --green-300: #00a457;
    --green-350: #00944F;
    --green-400: #008547;
    --green-500: #00713C;
    --green-A10: rgba(0, 133, 71, 0.1);
    --green-A20: rgba(0, 133, 71, 0.2);
    --green-A30: rgba(0, 133, 71, 0.3);
    --orange-100: #FFAB66;
    --orange-200: #F67E28;
    --orange-300: #F85900;
    --orange-350: #DD7124;
    --orange-400: #C75300;
    --orange-A10: rgba(248, 89, 0, 0.1);
    --orange-A20: rgba(248, 89, 0, 0.2);
    --orange-A30: rgba(248, 89, 0, 0.3);
    --pink-100: #F7A9F9;
    --pink-200: #F775D3;
    --pink-300: #E148C0;
    --pink-350: #D34EB7;
    --pink-400: #BE4AA5;
    --pink-500: #D914AE;
    --pink-600: #C3129D;
    --pink-A10: rgba(190, 74, 165, 0.1);
    --pink-A20: rgba(190, 74, 165, 0.2);
    --pink-A30: rgba(190, 74, 165, 0.3);
    --purple-100: #B89EFF;
    --purple-200: #A484FF;
    --purple-300: #8A61FF;
    --purple-400: #7F5AE9;
    --purple-500: #7140FF;
    --purple-600: #663AE5;
    --purple-A10: rgba(127, 90, 233, 0.1);
    --purple-A20: rgba(127, 90, 233, 0.2);
    --purple-A30: rgba(127, 90, 233, 0.3);
    --red-100: #FF8A8A;
    --red-200: #FF424D;
    --red-300: #ED273E;
    --red-350: #DB434C;
    --red-400: #CF313B;
    --red-500: #D50000;
    --red-600: #B50000;
    --red-A10: rgba(207, 49, 59, 0.1);
    --red-A20: rgba(207, 49, 59, 0.2);
    --red-A30: rgba(207, 49, 59, 0.3);
    --yellow-300: #FFC700;
    --yellow-400: #EAA700;
    --yellow-450: #AD7D00;
    --yellow-500: #996E00;
    --yellow-A10: rgba(255, 199, 0, 0.1);
    --yellow-A20: rgba(255, 199, 0, 0.2);
    --yellow-A30: rgba(255, 199, 0, 0.3);
    --yellow-A70: rgba(255, 199, 0, 0.7);
    --webflowBlue-100: #738cff;
    --webflowBlue-200: #4d6bff;
    --webflowBlue-300: #4353ff;
    --webflowBlue-400: #3545ee;
    --webflowBlue-500: #323ed1;
    --webflowBlue-A10: rgba(67, 83, 255, 0.1);
    --webflowBlue-A20: rgba(67, 83, 255, 0.2);
    --webflowBlue-A30: rgba(67, 83, 255, 0.3);
  }

